<!DOCTYPE html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}"
      xmlns:th="http://thymeleaf.org"
>
<head>
    <title>메인</title>
</head>

<body>
<section layout:fragment="content">
    <div class="container">
        <header th:if="${loginedMember != null}">
            <div>[[${loginedMember.username}]]</div>
            <img th:src="@{${loginedMemberProfileImgUrl}}" width="500px" alt="">
        </header>
        <hr>
        <div>안녕하세요</div>
    </div>
</section>
</body>
</html>